
<div class="card-body-childcard">
    <div class="card-body-childcard-header"
    [ngClass]="{
        'basic' : service.type === 'Basic',
        'standard' : service.type === 'Standard',
        'advance' : service.type === 'Advanced'
    }"
    >
        <div class="title">{{service.type | uppercase}}</div>
        <div><span>$</span><span  class="price">{{service.amount}}</span><span [style.font-size]="'1.5em'">/{{service.duration}}</span></div>
        <div class="discount">{{service.discount}}% discount</div>
    </div>
    <div class="card-body-childcard-body">
      <div *ngFor="let item of service.features" class="card-body-childcard-body-item">
        {{item}}
      </div>
    </div>
    <div class="card-body-childcard-footer">
       <ng-content></ng-content>
    </div>
  </div>