.card-body-childcard{
    border-radius: 1em;
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.3);
    width: 25em;
    &-header{
      height: 8em;
      border-radius: 1em 1em 0 0;
      padding: 1em 3.5em;
      color: #ffffff;
      background-color: #f59600;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title{
        font-size: 1.5em;
      }
      .price{
        font-size: 2.5em;
        font-weight: 500;
      }
      .discount{
        font-size: 0.8em;
      }
    }
    .basic{
        background-color: #f59600;
    }
    .standard{
        background-color: #00b900;
    }
    .advance{
        background-color: #00b4e5;
    }
    &-body{
      display: flex;
      flex-direction: column;
      padding: 0 1em;
      height: 15em;
      overflow-y: scroll;
      &-item{
        border-bottom: 0.1em solid #ebebeb;
        padding: 1em 0;
        text-align: center;
        &:last-child{
          border-bottom: none;
        }
      }
    }
    &-footer{
        padding: 1em;
    }
  }