.table {
    display: table;
    background: white;
  }

  .table-head-row{
    display: table-row;
    color: lightgray;
  }

  .table-row {
    display: table-row;
  }
  .table-cell {
    display: table-cell;
    padding: 20px;
    border-bottom: 1px solid lightgray;
  }
 
  .content {
    background: lightgray;
    margin: 2em 0;
    padding: 1em;
  }

  .card{
    background-color: #ffffff;
    border-radius: 1em;
    &-body{
      padding: 1em;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      .button{
        width: 100%;
        background-color: #FF008C;
        color: white;
    }
    }
  }